.c--last-updated {
	@include carbon--type-style('label-01');
}

.c--fluctuation-label {
	@include carbon--type-style('label-01');
	&:last-of-type {
		padding-bottom: 2rem;
	}
}

.stat-items-container {
	display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
}

.floating-button-link {
	height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 2rem;

	border-radius: 150px;
	background: $carbon--white-0;
	box-shadow:  6px 6px 13px #d9d9d9, 
				-6px -6px 13px $carbon--white-0;
	transition: box-shadow .25s ease-in;
	&:focus {
		outline: 0;
		border: 1px solid $carbon--blue-10;
		box-shadow:  10px 10px 20px $carbon--blue-30, 
					-10px -10px 20px $carbon--white-0;
	}
	&.download-button-link {
		right: 1rem;
	}
}

.c--main-content-container {
	display: block;
	.c--heatmap-container {
		padding-bottom: 4rem;
		padding-top: 2rem;
		position: relative;
		.heatmap-outer-container {
			max-width: 100%;
			min-width: 320px;
			width: 400px;
		}
		.bx--dropdown__wrapper {
			display: block;
		}
		.heatmap-tooltip-view-type-label {
			@include carbon--font-weight('semibold');
			text-transform: capitalize;
		}
		.heatmap-tooltip-stat {
			@include carbon--font-family('mono');
		}
		.heatmap-tooltip-date-label {
			@include carbon--type-style('label-01');
			color: #4d5358;
		}
	}
}

@media (min-width: 522px) {
	.stat-items-container {
		grid-template-columns: repeat(2, 0fr);
	}
	.c--heatmap-container {
		padding-top: 0;
	}
}

@media (min-width: 970px) {
	.c--main-content-container {
		display: flex;
		.c--heatmap-container {
			margin-left: 4rem;
			padding-bottom: 0;
			padding-top: 0;
			position: relative;
		}
	}
}